.container {
    position: relative;
    
}

div.first{
    width: 3000px;
    height: 1000px;
    position: absolute;
    

}


div.top{
    background-image: url("../register_img/memo1.png");
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
    
}
.second {
    height: 3000px;
    
}

.bottom {
    background-image:url("../register_img/memo2.png");
    background-size: contain;
    background-repeat: no-repeat;
}
    
