@font-face {
    font-family: 'InfinitySans-RegularA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #2F2F2F;
}
.logo{

}

.container {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    
}

div.first{
    width: 70%;
    height: 600px;
    margin: 0 auto;
    
}

 div.top{ /*배경이미지 */
    background-image: url("../register_img/memo1.png");
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   

}
.in{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
    font-family: 'InfinitySans-RegularA1';

}
.second {
    width: 70%;
    height: 1400px;
    margin: 0 auto;
    font-family: 'InfinitySans-RegularA1';
}



.bottom {
    background-image:url("../register_img/memo2.png");
    width: 100%; height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;
}

.form-control{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
    margin-bottom: 10px;
}
.q{
    font-size: 20px;
    margin-left: 10%;
    padding-bottom: 5px;
    padding-top: 5px;
}
.hi{
    width: 150px; 
    height: 50px; 
    background-color: #FF921B; 
    margin-left: 45%;
    border: none;
}
.row{
    font-size: 20px;
    margin-top: 3%;
}

