{% extends 'base.html' %}

{% load static %}



{% block title %}
서류 지원 확인
{% endblock title %}



{% block link %}
<link rel="stylesheet" href="{% static 'css/check.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
<script>

    function checkLoginStatus() {
        if (gauth.isSignedIn.get()) {
            var profile = gauth.currentUser.get().getBasicProfile();
        }
        //로그인 안되었을경우 추가하기 else
    }
    function init() {
        console.log('init');
        gapi.load('auth2', function () {
            console.log('auth2');
            window.gauth = gapi.auth2.init({
                client_id: '665318542022-enp0lvnq9a3gs4cik8jac03bbcc1vv8l.apps.googleusercontent.com'
            })
            gauth.then(function () {
                console.log('gooleAuth succes');
                checkLoginStatus()
            }, function () {
                console.log('gooleauth fail');
            });
        });
    }
    
</script>
{% endblock link %}



{% block content %}

<div class="container-fluid">
    <img class="logo" src="{% static 'check_img\logo.png' %}" alt="My image">
    {% for inform in inform %}
    {% csrf_token %}

    <input type="hidden" value={{inform.user_pass}} id="user_pass">

    <div id="passDiv">
        <p>{{inform.user_name}}님,  경상대 '멋쟁이 사자처럼'에 지원해주셔서 감사합니다.</p>
        <br><br>
        <p class="pass text-focus-in">서류가 통과되었습니다!</p>
        <br>
        <p>면접 일시는</p>
            <p class="textTransformX"><strong>{{inform.user_time}}</strong></p>
            <br><br><br>
            <p>하단 링크로 5분 미리 입장바랍니다😊
        </p>
        <br>
        <p>
            Zoom Link : <a class="textTransformX" href="https://likelion.net/">"https://likelion.net/"</a>
        </p>
        <br><br>

    </div>
    <div id="nonPassDiv">
        <p class="pass text-shadow-drop-bottom">{{inform.user_name}}님, 경상대 '멋쟁이 사자처럼'에 지원해주셔서 감사합니다.</p>
        <br><br>
        <p>
            아쉽지만 이번 9기 멋쟁이 사자처럼과 함께하지 못하게 되었습니다.
            
        </p>

    </div>
    <div id="errorDiv">
      
            <div class="bouncingLoader"></div>
            <br><br>
            <p><strong>ERROR : 경상대 멋쟁이 사자처럼으로 문의부탁드립니다.</strong></p>
            <strong style="color: rgb(128, 193, 255);"> facebook : </strong><a href="https://www.facebook.com/likeliongnu/"> https://www.facebook.com/likeliongnu/ </a>
    </div>

    {% endfor %}
    

</div>
<script>
    var user_pass = document.getElementById('user_pass');

    if (user_pass.value == 1) {
        //합격
        var div = document.getElementById("passDiv");
        div.style.display = 'block';

    }
    else if (user_pass.value == 0) {
        //불합격
        var div = document.getElementById("nonPassDiv");
        div.style.display = 'block';

    }
    else {
        //데이터 누락
        var div = document.getElementById("errorDiv");
        div.style.display = 'block';

    }
</script>



{% endblock content %}