{% extends 'base.html' %}

{% load static %}



{% block title %}
지원 페이지
{% endblock title %}



{% block link %}


<script>
    let clickRegisterBtn;

    const removeContainerNone = () => {
        const container = document.querySelector('.container');
        container.classList.remove("display_none")
    }
    window.onload = function () {   // 페이지를 실행할 때 바로 작동되는 함수
        console.log('init');
        gapi.load('auth2', function () {
            console.log('auth2');
            window.gauth = gapi.auth2.init({
                client_id: '665318542022-enp0lvnq9a3gs4cik8jac03bbcc1vv8l.apps.googleusercontent.com'
            })
            gauth.then(function () {
                console.log('gooleAuth success');
                clickRegisterBtn = () => {  // 로그인이 되어있을 때
                    if (true) {     // 이미 지원서를 작성했을 경우
                        var profile = gauth.currentUser.get().getBasicProfile();
                        var currentuser_id = profile.getId();
                        $.ajax({
                            method: 'POST',
                            url: "{% url 'login_ajax' %}",
                            data: { 'user_id': currentuser_id, csrfmiddlewaretoken: '{{ csrf_token }}' },
                            success: function (data) {
                                alert("it worked!");
                                window.location.href = '{% url "register" %}'
                            },
                            error: function (data) {
                                alert("it didnt work");
                            }
                        });
                    }
                    else {  // 지원서를 처음 작성하는 경우

                    }
                }
            }, function () {
                console.log('gooleauth fail');
                clickRegisterBtn = () => {  // 로그인이 되어있지 않을 때
                    gauth.signIn().then(function () {
                        window.location.href = 'http://localhost:8000/register/'
                    });
                }
            }).then(removeContainerNone)
        });

    }


</script>
<link rel="stylesheet" href="{% static 'css/intro.css' %}">
{% endblock link %}



{% block content %}
<div class="container display_none">
    <div class="row">
        <img class="likelion-logo" src="{% static 'intro_image/logo.png' %}" alt="?" width="15%">
    </div>
    <div class="row title">경상대 멋쟁이사자처럼 9기</div>
    <div class="row title2"><strong>경상대 멋사 9기</strong></div>
    <hr>
    <div class="row sub">웹프로그래밍, 웹서비스 구현 및 창업<br>아이디어를 내 손으로 실현한다</div>
    <div class="row">
        <button type="button" id="loginBtn" class="orange"
            onclick="clickRegisterBtn()"><strong>지원하기/지원확인</strong></button>
    </div>
    <div class="row inform-box">
        <div class="supply-inform">
            <div class="col col-left">
                지원 날짜<br>
                서류 결과 확인<br>
                최종확인
            </div>
            <div class="col col-middle">
                :<br>:<br>:
            </div>
            <div class="col col-right">
                2월22일~3월12일<br>3월 14일~<br>개별 통보
            </div>
        </div>
    </div>
    <div class="row contact">
        <div class="row" style="color: white;">CONTACT</div>
        <div class="row sns-logo">
            <a href="https://www.instagram.com/likelion_gnu/">
                <img class="insta" src="{% static 'intro_image/insta.png' %}" alt="" width="52px">
            </a>
            <a href="https://ko-kr.facebook.com/likeliongnu/">
                <img class="facebook" src="{% static 'intro_image/facebook.png' %}" alt="" width="52px">
            </a>
        </div>
    </div>
</div>

{% endblock content %}