{% extends 'base.html' %}

{% load static %}



{% block title %}
지원서 작성 
{% endblock title %}



{% block link %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock link %}



{% block content %}
<div class=container>
    <div class="row" style="margin-top:5%;">
        
        <div class="col-md-3">
            <img class="cutelion" src="{% static 'register_img/likelionimg.png' %}" alt="">
        </div>
        <div class="col-md-9">
            <hr class="cuteline">
        </div>
    </div>
    <div class=first >
        <div class=top > <!--배경이미지 -->
          <div class=in>
              <h2>개인정보</h2>
              <div class="row">
                  <div class="col-md-2">
                      <p>이름</p>
                  </div>
                  <div class="col-md-8">
                    <input type="text">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-2">
                      <p>학년</p>
                  </div>
                  <div class="col-md-8">
                    <select>
                        <option value="1">1학년</option>
                        <option value="1">2학년</option>
                        <option value="1">3학년</option>
                        <option value="1">4학년</option>
                    </select>
                  </div>
              </div>
               <div class="row">
                  <div class="col-md-2">
                      <p>전화번호</p>
                  </div>
                  <div class="col-md-8">
                    <input type="text">
                  </div>
              </div>
               <div class="row">
                  <div class="col-md-2">
                      <p>학과</p>
                  </div>
                  <div class="col-md-8">
                    <input type="text">
                  </div>
              </div>
   
              <h4 style="margin-top:7%; margin-bottom:1%;"><개인정보 수집 및 이용 동의></h4>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    개인정보는 합불 통보를 위해서만 사용되며, 모집 이후 폐기됩니다.
                </label>
              </div>
          </div>
        </div>
    </div>
    <hr style="border: 2px solid #FF9E1B;" width="100%">
    <div class="second">
        <div class="bottom"> <!--배경이미지 -->
            <div class="out">
                <br><br><br>
                <p class="q">1. 지원동기가 어떻게되나요?</p>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                <p class="q">2. 동아리에 들어온다면 해 보고 싶은 활동을 적어주세요</p>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                <p class="q">3. 만들고 싶은 웹서비스에 대해 간단히 설명해 주세요.</p>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                <p class="q">4. 우리 동아리를 알게된 경로가 어떻게 되나요?</p>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                <br><br><br>
                <div class="button">
                    <button type="button" class="hi" onclick="return confirm('한 번 제출시 수정 및 삭제가 불가능합니다. 정말로 제출 하시겠습니까?');"><strong>제출하기</strong></button>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}
