{% extends 'base.html' %}

{% load static %}



{% block title %}
지원서 작성
{% endblock title %}



{% block link %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<link rel="stylesheet" href="{% static 'css/register.css' %}">

<script>
    const setGoogleID = () => {
        var profile = gauth.currentUser.get().getBasicProfile();
        const googleID = document.querySelector('#googleID')
        googleID.value = profile.getId()
    }
    

    const removeContainerNone = () => {
        const container = document.querySelector('.container');
        container.classList.remove("display_none")
    }

    window.onload = function () {
        gapi.load('auth2', function () {
            console.log('auth2');
            window.gauth = gapi.auth2.init({
                client_id: '665318542022-enp0lvnq9a3gs4cik8jac03bbcc1vv8l.apps.googleusercontent.com'
            })
            gauth.then(function () {
                console.log('gooleAuth succes');
            }, function () {
                console.log('gooleauth fail');
            }).then(removeContainerNone).then(setGoogleID)
        });
    }
</script>
<!-- <script>
    function check_button(){
        const checkbox=document.querySelector('#checkbox');
        const checkbox_value=document.querySelector('#checkbox_value');
        checkbox_value.value=checkbox.value;
        var count=document.form_name.q1.value.length;
        
        if (count ==0){
            alert('30자 이상 입력해 주세요');
            $('#q1').focus();
            return false;
        }
        }
 </script> -->
 <script>
    $(document).ready(function(){
    $("#submit").click(function(){
    const checkbox=document.querySelector('#checkbox');
    if($("#name").val().length==0){alert("이름을 입력해 주세요.");$("#name").focus();return false;}
    if($("#number").val().length==0){alert("전화번호를 입력해 주세요.");$("#number").focus();return false;}
    if($("#major").val().length==0){alert("학과를 입력해 주세요.");$("#major").focus();return false;}
    if(checkbox.value=='no_checked'){alert('개인정보 수집 및 이용에 동의해 주세요');$('#checkbox').focus();return false;}   
    if($("#q1").val().length==0){alert("1번 내용을 입력해 주세요.");$("#q1").focus();return false;}
    if($("#q2").val().length==0){alert("2번 내용을 입력해 주세요.");$("#q2").focus();return false;}
    if($("#q3").val().length==0){alert("3번 내용을 입력해 주세요.");$("#q3").focus();return false;}
    if($("#q4").val().length==0){alert("4번 내용을 입력해 주세요.");$("#q4").focus();return false;}

    });
});
 </script>

{% endblock link %}



{% block content %}
<div class="container display_none">
    <form name="form_name" action="{% url 'register_action' %}" method="POST">
        {% csrf_token %}
        
        <div class="row" style="margin-top:5%;">

            <div class="col-xs-3 ">
                <a href="{% url 'intro' %}" >
                    <img class="cutelion" src="{% static 'register_img/likelionimg.png' %}" alt="" >
                </a>
            </div>
            <div class="col-xs-9">
                <hr class="cuteline">
            </div>
        </div>
        <div class=first>
            <div class=top>
                <!--배경이미지 -->
                <div class=in>
                    <p class="pi"><strong>개인정보</strong></p>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>이름</p>
                        </div>
                        <div class="col-xs-8">
                            <input id="name"name="name" type="text" value="{{inform.user_name}}">
                        </div>
                    </div>
           
                    <div class="row">
                        <div class="col-xs-4">
                            <p>학년</p>
                        </div>
                        <div class="col-xs-8">
                            <select id="grade" name="grade" class="grade" value="{{inform.user_grade}}">
                                <option value="1" {% if inform.user_grade == '1' %}selected{% endif %}>1학년</option>
                                <option value="2" {% if inform.user_grade == '2' %}selected{% endif %}>2학년</option>
                                <option value="3" {% if inform.user_grade == '3' %}selected{% endif %}>3학년</option>
                                <option value="4" {% if inform.user_grade == '4' %}selected{% endif %}>4학년</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>전화번호</p>
                        </div>
                        <div class="col-xs-8">

                            <input id="number" name="phonenumber" type="text" placeholder="- 제외하고 입력" value="{{inform.user_pn}}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>학과</p>
                        </div>
                        <div class="col-xs-8">
                            <input id="major" name="major" placeholder="정확하게 입력해주세요." type="text" value="{{inform.user_major}}">
                        </div>
                    </div>
                    <h4 style="margin-top:7%; margin-bottom:1%;">
                        <개인정보 수집 및 이용 동의>
                    </h4>
                    <div id="check"class="form-check">
                        <input class="form-check-input" type="checkbox" value="no_checked" id="checkbox" name="checkbox" >
                        <label class="form-check-label" for="flexCheckChecked">
                            개인정보는 합불 통보를 위해서만 사용되며, 모집 이후 <span style="color:red;">폐기</span>됩니다.
                        </label>
                        <script>
                           $('#checkbox').on('click', function(event){
                               if(this.value=='no_checked'){
                                this.value = 'checked'   
                               } else{
                                this.value = 'no_checked'
                               }
                            
                            //alert(this)
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <hr style="border: 2px solid #FF9E1B;" width="100%">
        <div class="second">
            <div class="bottom">
                <!--배경이미지 -->
                <div class="out">
                    <br><br><br>
                    <p class="q">1. 지원동기가 어떻게되나요?</p>
                    <textarea minlength="30" id="q1"name="q1" placeholder="30자 이상 입력해 주세요" class="form-control texts" rows="10" value="{{inform.user_q1}}">{{inform.user_q1}}</textarea>
                    <br><br><br>
                    <p class="q">2. 동아리에 들어온다면 해 보고 싶은 활동을 적어주세요</p>
                    <textarea minlength="30" name="q2"id="q2" placeholder="30자 이상 입력해 주세요" class="form-control texts" rows="10" value="{{inform.user_q2}}">{{inform.user_q2}}</textarea>
                    <br><br><br>
                    <p class="q">3. 만들고 싶은 웹서비스에 대해 간단히 설명해 주세요.</p>
                    <textarea minlength="30" name="q3"id="q3" placeholder="30자 이상 입력해 주세요" class="form-control texts" rows="10" value="{{inform.user_q3}}">{{inform.user_q3}}</textarea>
                    <br><br><br>
                    <p class="q">4. 우리 동아리를 알게된 경로가 어떻게 되나요?</p>
                    <textarea name="q4" id="q4" style="outline: 0 none;" class="form-control texts" rows="5" value="{{inform.user_q4}}">{{inform.user_q4}}</textarea>
                    <br><br><br>
                    <div class="button">

                        <button type="submit"id="submit" onclick="check_button()" class="hi" name="submit"><strong>제출하기</strong></button>

                        
                    </div>

                </div>
            </div>

        </div>
        <input id="googleID" type="hidden" name="googleID" value="">
        <input id="checkbox_value" type="hidden" name="checkbox_value" value="">
       
    </form>
</div>

{% endblock content %}